<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <img class="logoLogin" src="../../../../assets/logo.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link" [routerLink]="['login']" routerLinkActive="router-link-active">Sign in</a>
            <a class="nav-item nav-link" [routerLink]="['register']" routerLinkActive="router-link-active">Sign up</a>
        </nav>
    </div>
</div>