<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="username">Account Email</label>
                <input type="email" class="form-control" name="email" ngModel required #email="ngModel"
                    placeholder="Enter Email">
            </div>
            <br />
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>