<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Change Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="alert alert-success" role="alert" *ngIf="changedPassword">Password changed</div>
            <div class="alert alert-danger" role="alert" *ngIf="hasError">Unable to change password</div>
            <div class="form-group">
                <label for="changePassword">Enter New Password</label>
                <input type="password" class="form-control" name="changePassword" [(ngModel)]="model.password" required
                    #password="ngModel" placeholder="Enter New Password">
            </div>
            <br />
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>