<div class="row home-main-row">
    <div class="col-md-5 mt-4 pt-5 pl-5">
        <h3>Transportadora Vieir4ndo</h3>
        <p>The project Transportadora Vieir4ndo is an administrative WEB application to manage a fictitious shipping
            company office. It allows the user to maintain workers, vehicles, packages, and their tracking. Firstly
            thought as a project for the system analysis subjects of the computer science technician course, and later
            implemented in Angular, .NET and SQLServer as a way to gain knowledge.</p>
        <a [routerLink]="['register']" routerLinkActive="router-link-active" class="btn btn-info">Create a free
            account</a>
    </div>
    <div class="col-md-7 mt-4 home-image-wrapper">
        <img src="assets/img/computer.png" alt="">
    </div>
</div>